<!--  本カラム -->
<section id="portfolio">
  <div class="container">
    <center>
      <h2>イベント<br></br></h2><br>
      <button class="btn btn-lg btn-success">
        <a href="/events/new">        
          イベントを企画
        </a>
      </button>
      
    </center>
    </br>
    </br>
  	<div class="row">
      <% @events.each do |event| %>
        <div class="col-lg-3 portfolio-item">
            <a href=<%= "/events/#{event.id}" %> class="portfolio-link" >
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <%= image_tag event.image.url, :class => "img-responsive" %>
            </a>
            <p><%= event.discription %></p>
        </div>
       	<% end %>
    </div>

    <center style="margin-top: 40px;">
      <h2>記事<br></br></h2>
    </center>
    <div class="row">
        <div class="text-center">
						<% @posts.each do |post| %>
		          <div class="col-lg-3 portfolio-item" style="margin-top: 35px">
		            <a href=<%= "/posts/#{post.id}" %> class="portfolio-link">
		                <div class="caption">
		                    <div class="caption-content">
		                        <i class="fa fa-search-plus fa-3x"></i>
		                    </div>
		                </div>
		                <%= image_tag post.image.url, :class => "img-responsive" %>
		            </a>
                <p><%= post.title %></p>
		        	</div>
     				 <% end %>
     		</div>
    </div>
   </div>
</section>

